*{
	padding: 0;
	margin: 0;
}

html{
	color: #000000;
}

body{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: grid;
	
}

.calcon{
	height: 100vh;
	width: 100%;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	display: grid;
	justify-content: center;
	grid-template-rows: minmax(90px, auto) repeat(5, 80px);
	grid-template-columns: repeat(4, 80px);
	align-content: center;
	background: linear-gradient(to right, #89f7fe, #66a6ff);
}

.calcon button{
	margin: 1px;
	outline: none;
	border: none;
	background: rgb(255, 255, 255);
	font-size: 18px;
	font-weight: bold;
}


.calcon button:hover{
	/*color: #ffff;*/
	background: rgb(255, 255, 255, .90);
}

.calcon #sp{
	grid-column: span 2; 
}

.output{
	margin: 1px;
	margin-bottom: 0;
	padding: 5px 10px;
	grid-column: 1/ -1;
	background: rgb(0, 121, 145, .60);
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	flex-direction: column;
	word-wrap: break-word;
	word-break: break-all;
}

.prev-result{
	margin: 0;
	padding: 0;
	font-size: 1.3rem;
	box-sizing: border-box;
}
.curr-result{
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
	box-sizing: border-box;
}